.height {
  min-height: 200px;
}

img {
  max-width: 100%;
}

.striscia {
  width: 200px;
  height: 0;
}

.paragrafo {
  width: 50%;
}

footer .col-10 > div {
  width: 30%;
}

.final-p {
  font-size: 0.7rem;
  background-color: #37474f;
}
